body {
	font-size: 14px;
	font-family: "Ubuntu", sans-serif;
	/*font: 14px 'Open Sans', "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

hr {
	margin: 5px 0 15px 0;
}

img.header-image {
	margin-top: -10px;
	margin-bottom: -5px;
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

code, .monospace {
	font-family: "Source Code Pro", monospace;
}

.card-body {
	padding: 1.1em;
}

.details-table td {
	border-top: none;
	padding: 0.4em;
	padding-right: 0.6em;
}

.properties-header {
	width: 160px;
	text-align: right;
	font-weight: bold;
}

.popover {
	max-width: 1200px;
}

.border-dotted {
	border-bottom: 1px dotted #777;
}

pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

.word-wrap {
	word-wrap: break-word;
	word-break: break-all;
}

#subheader a {
	margin-right: 20px;
}

.table th {
	border-top: none;
}

.dropdown-item:focus, .dropdown-item:hover {
	background-color: #e3e3e3;
}

#sub-menu a:hover {
	text-decoration: underline;
}

strong {
	font-weight: 500;
}

.summary-table-label, .summary-table-content, .summary-split-table-label, .summary-split-table-content, .tx-io-label, .tx-io-content, .tx-io-desc, .tx-io-value {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 5px;
	padding-left: 15px;
	margin-bottom: 5px;
}

.summary-table-label, .summary-split-table-label, .tx-io-label {
	font-weight: bold;
}

.summary-table-content, .summary-split-table-content {
	margin-bottom: 20px;
}

.type-status-labels-container {
	display: block;
	overflow: hidden;
}

@media (max-width: 376px) {
	.pagination-wrap .page-link {
		padding: 0.25rem 0.5rem;
		font-size: 0.875rem;
	}
}

@media (min-width: 377px) {
	.pagination-wrap .page-link {
		padding: 0.35rem 0.75rem;
		font-size: 0.91rem;
	}
}

@media (min-width: 576px) {
	.pagination-wrap .page-link {
		padding: 0.50rem 1rem;
		font-size: 0.95rem;
	}

	.summary-table-label {
		max-width: 100%;
		text-align: left;
	}
	.summary-table-content {
		max-width: 100%;
		margin-bottom: 20px;
	}

	.summary-split-table-label {
		max-width: 100%;
		text-align: left;
	}
	.summary-split-table-content {
		max-width: 100%;
		margin-bottom: 20px;
	}

	.tx-io-label { max-width: 100%; }
	.tx-io-content { max-width: 100%; }
	.tx-io-desc { 
		max-width: 100%;
		font-size: 13px;
	}
	.tx-io-value { max-width: 100%; }
}

@media (min-width: 768px) {
	.summary-table-label {
		max-width: 18%;
		text-align: right;
	}
	.summary-table-content {
		max-width: 82%;
		margin-bottom: 5px;
	}

	.summary-split-table-label {
		max-width: 36%;
		text-align: right;
	}
	.summary-split-table-content {
		max-width: 64%;
		margin-bottom: 5px;
	}

	.tx-io-label { max-width: 8%; }
	.tx-io-content { max-width: 92%; }
	.tx-io-desc { max-width: 60%; }
	.tx-io-value { max-width: 40%; text-align: right; padding-right: 25px; }
}

@media (min-width: 992px) {
	.summary-table-label {
		max-width: 15%;
		text-align: right;
	}
	.summary-table-content {
		max-width: 85%;
		margin-bottom: 5px;
	}

	.summary-split-table-label {
		max-width: 30%;
		text-align: right;
	}
	.summary-split-table-content {
		max-width: 70%;
		margin-bottom: 5px;
	}

	.tx-io-label { max-width: 11%; }
	.tx-io-content { max-width: 89%; }
	.tx-io-desc { max-width: 60%; }
	.tx-io-value { max-width: 40%; text-align: right; padding-right: 25px; }

	.type-status-labels-container {
		display: inline;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1160px;
	}

	.pagination-wrap .page-link {
		padding: 0.52rem 1.05rem;
		font-size: 1rem;
	}

	.summary-table-label {
		max-width: 11%;
		text-align: right;
	}
	.summary-table-content {
		max-width: 89%;
		margin-bottom: 5px;
	}

	.summary-split-table-label {
		max-width: 22%;
		text-align: right;
	}
	.summary-split-table-content {
		max-width: 78%;
		margin-bottom: 5px;
	}

	.tx-io-label { max-width: 9.5%; }
	.tx-io-content { max-width: 90.5%; }
	.tx-io-desc { max-width: 61%; }
	.tx-io-value { max-width: 39%; text-align: right; padding-right: 25px; }
}

@media (min-width: 1920px) {
	.container {
		max-width: 1800px;
	}

	.summary-table-label {
		max-width: 8%;
		text-align: right;
	}
	.summary-table-content {
		max-width: 92%;
		margin-bottom: 5px;
	}

	.summary-split-table-label {
		max-width: 16%;
		text-align: right;
	}
	.summary-split-table-content {
		max-width: 84%;
		margin-bottom: 5px;
	}

	.tx-io-label { max-width: 6.5%; }
	.tx-io-content { max-width: 93.5%; }
	.tx-io-desc { max-width: 70%; }
	.tx-io-value { max-width: 30%; text-align: right; padding-right: 25px; }
}





footer a {
	color: #ddd;
	text-decoration: underline;
}

footer a:hover {
	color: white;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
	/*background-color: #fbfbfb;*/
}

.hljs-type, .hljs-string, .hljs-number, .hljs-selector-id, .hljs-selector-class, .hljs-quote, .hljs-template-tag, .hljs-deletion {
	color: #3aa54f;
}

.type-status-label {
	font-family: "Ubuntu";
	padding: 2px 8px 4px;
	font-weight: 500;
	font-size: 11px;
}

.bg-status {
	background-color: #ecc253;
}

.bg-type {
	background-color: #c4c4c4;
}

/***************/
/* Page header */
/***************/

.page-header {
  padding: 20px 30px;
  background-color: rgb(94, 1, 38);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  max-height: 90px;
}

.page-header-logo-without-text {
  display: none;
}

.page-header-logo-with-text {
  display: block;
}

.page-header-menu-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}
.page-header-menu-container.visible {
  display: block;
}

.page-header-social-media-icons {
  display: none;
}

.page-header-menu-icon {
  background: transparent;
  border: none;
}
.page-header-menu-icon.hidden {
  visibility: hidden;
}

.page-header-menu-page-cover {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 3;
  display: none;
}

.page-header-menu-nav {
  background-color: rgb(94, 1, 38);
  position: absolute;
  top: 90px;
  right: 0px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  align-items: flex-start;
  z-index: 4;
}

.page-header-menu-list {
  padding: 30px 30px 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
}

.page-header-menu-list-item {
  margin-bottom: 10px;
}

.page-header-menu-list-item .page-header-menu-list-item-title {
  font-size: 32px;
  text-transform: uppercase;
  color: rgb(214, 181, 109);
  line-height: 1;
  font-weight: 300;
}
.page-header-menu-list-item a {
  transition: opacity 200ms ease-in;
}
.page-header-menu-list-item a:hover {
  text-decoration: none;
}
.page-header-menu-list-item div.page-header-menu-list-item-title {
  display: flex;
  align-items: center;
  line-height: normal;
  cursor: pointer;
  user-select: none;
}
.page-header-menu-list-item div.page-header-menu-list-item-title button {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  margin-left: 10px;
  padding: 0;
}

.page-header-menu-sub-list {
  list-style-type: none;
  margin: 10px 0;
  padding-left: 0;
  display: none;
}

.page-header-menu-sub-list.visible {
  display: block;
}

.page-header-menu-sub-list .page-header-menu-sub-list-item {
  margin-top: 10px;
}

.page-header-menu-sub-list .page-header-menu-sub-list-item a {
  color: #fff;
  font-size: 16px;
  line-height: 1;
}

.page-header-menu-close {
  position: absolute;
  z-index: 5;
  right: 35px;
  top: 20px;
  cursor: pointer;
}

.page-header-social-media-icons-container {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  width: 100%;
}

.page-header-social-media-icons {
  grid-template-columns: repeat(8, 25px);
  gap: 10px;
}

.page-header-social-media-icons-container .page-header-social-media-icons {
  display: grid;
}

@media (min-width: 992px) {
  .page-header {
    padding: 20px;
  }
}

@media (min-width: 768px) {
  .page-header-logo-without-text {
    display: block;
  }

  .page-header-logo-with-text {
    display: none;
  }

  .page-header-social-media-icons {
    display: grid;
  }

  .page-header-menu-container {
    position: fixed;
  }

  .page-header-social-media-icons-container .page-header-social-media-icons {
    display: none;
  }

  .page-header-menu-page-cover {
    display: block;
  }

  .page-header-menu-nav {
    position: fixed;
    width: 420px;
    height: 100%;
    top: 0;
    bottom: 0px;
    overflow-y: scroll;
    align-items: center;
  }

  .page-header-menu-list {
    padding: 140px 80px 120px;
  }

  .page-header-menu-list-item {
    margin-bottom: 20px;
  }

  .page-header-menu-list-item .page-header-menu-list-item-title {
    font-weight: 300;
  }

  .page-header-menu-sub-list {
    margin: 0;
  }

  .page-header-menu-close {
    right: 25px;
    position: fixed;
  }
}
